<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Expeditor</display-name>
  <welcome-file-list>
    <welcome-file>jsp/connection.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisconnectServlet</display-name>
    <servlet-name>DisconnectServlet</servlet-name>
    <servlet-class>fr.lala.expeditor.servlets.DisconnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectServlet</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectServlet</display-name>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>fr.lala.expeditor.servlets.ConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ConnectionFilter</display-name>
    <filter-name>ConnectionFilter</filter-name>
    <filter-class>fr.lala.expeditor.filters.ConnectionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConnectionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>